@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-image: url('/images/sound.jpg');
  --foreground: #171717;

   /* solid */
  --jet: hsl(0, 0%, 24%);
  --jet-0: hsl(0, 0%, 24%, 0);
  --jet-40: hsla(0, 0%, 24%, 0.4);
  --onyx: hsla(0, 1%, 16%, 0.7);
  --eerie-black-1: hsla(240, 3%, 12%, 0.9);
  --eerie-black-2: hsla(240, 3%, 8%, 0.9);
  --smoky-black-1: hsla(0, 2%, 0%);
  --smoky-black-2: hsla(0, 2%, 25%, 0.9);
  --smoky-black-3: hsla(0, 2%, 25%, 0.2);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: rgb(255, 219, 112);
  --vegas-gold: hsl(45, 54%, 58%);
  --vegas-gold-dim: hsl(45, 50%, 25%, 0.4);
  --vegas-gold-dim-2: 4px 4px 16px hsl(45, 50%, 25%, 0.4);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
  --shadow-1: 12px 12px 32px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 8px 8px 32px hsla(0, 0%, 0%, 0.5);
  --shadow-2-inset: 4px 4px 16px hsla(0, 0%, 0%, 0.2);
  --vegas-gold-dim-2-inset: 4px 4px 16px hsl(45, 50%, 25%, 0.2);
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
  --body-frame-gradient-smoky-black: linear-gradient(to top right, hsl(0, 2%, 0%), hsla(0, 2%, 25%, 0.6));
  --form-frame-gradient-jet-40-onyx-0: linear-gradient(to top, hsla(0, 0%, 24%, 0.4), hsla(0, 1%, 16%, 0));
}

body, p, h1, h2, h3, h4, h5, h6, span, a, div {
  color: var(--white-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem 6rem;
  color: var(--foreground);
  background: var(--background-image);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.body_frame {
  padding: 1rem 0;
  background-image: var(--body-frame-gradient-smoky-black);
  border-radius: 1rem;
}

.page_frame {
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.75rem;
  border-color: var(--jet);
  border-width: 2px 0 0 2px;
  box-shadow: var(--shadow-1);
  background-color: var(--eerie-black-1);
}

.page_header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contacts_div1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: var(--shadow-2);
  border-radius: 0.5rem;
  border-width: 1px 0 0 1px;
  border-color: var(--jet);
  background-color: var(--onyx);
}

.contacts_div2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
  box-shadow: var(--shadow-2);
  border-radius: 0.5rem;
  border-color: var(--jet);
  border-width: 1px 0 0 1px;
  background-color: var(--onyx);
}

.contacts-div-header {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.addr-socio-frame {
  height: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: var(--jet-40);
  border-color: var(--jet) var(--jet-0) var(--jet-0) var(--jet);
}

.addr-socio-frame:hover {
  border-color: var(--vegas-gold);
  box-shadow: inset var(--vegas-gold-dim-2-inset);
}

.addr-socio-list {
  padding-left: 0.25rem;
}

.addr-socio-list:hover {
  color: var(--orange-yellow-crayola);
  transition-duration: 0.5s;
  box-shadow: inset var(--vegas-gold-dim-2-inset);
}

.form-frame {
  display: flex;
  margin: 1rem 0;
  padding: 0 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-image: var(--form-frame-gradient-jet-40-onyx-0);
}

.form-input {
  outline-offset: 2px;
  outline: 2px solid transparent;
  background-color: var(--jet-40);
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--jet) var(--jet-0) var(--jet-0) var(--jet);
  padding: 0.5rem;
  margin: 0 0 1.5rem;
  box-shadow: inset var(--shadow-2-inset);
}

.form-input:hover {
  border-color: var(--vegas-gold);
  box-shadow: inset var(--vegas-gold-dim-2-inset);
}

.form-button {
  display: flex;
  width: 33.333333%;
  margin: 0 0 2rem;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--jet) var(--jet-0) var(--jet-0) var(--jet);
  background-color: var(--vegas-gold-dim);
}

.form-button:hover {
  border-color: var(--vegas-gold);
  box-shadow: var(--vegas-gold-dim-2);
}

.form-button-text {
  padding-left: 0.25rem /* 4px */;
  color: var(--orange-yellow-crayola);
}

.status-message {
  display: flex;
  justify-content: center;
}